<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      Id="1"
      photoCover="https://th.bing.com/th/id/OIP.Meu4fPJrkkct5U_qHdO69wHaEI?pid=ImgDet&rs=1"
      cardDescription="Marvel Studios anuncia novo filme do Homem de Ferro."
      cardTitle="NOVO HOMEM DE FERRO ANUNCIADO">
    </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://kenh14cdn.com/203336854389633024/2021/2/18/photo-1-1613635174418119354960.jpg"
    cardTitle="Nova série anuncuada no Disney +">
    </app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://th.bing.com/th/id/R.2c38d2802c238f78134b984dccbc8f6e?rik=Qom7DTHv6SZsig&pid=ImgRaw&r=0"
    cardTitle="Novo Filme do Pantera Negra estreia em Novembro/2023">
    </app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://th.bing.com/th/id/OIP.inx2jpqF7Avtl79-nK5wwgHaD6?w=322&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
    cardTitle="Homem-Aranha (Sem Volta para Casa) foi eleito o melhor filme da Fase 4 da Marvel pelos fãs.">
    </app-small-card>

  </div>
</div>
